@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  background-color: #f7f7f7;
}
a {
  color: #211d1e;
  transition: 200ms color ease-in-out;
  &:hover {
    text-decoration: none;
    color: #000;
  }
}
#wrapper {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
@import './components/fonts';
@import './components/common';
@import './components/header';
@import './components/banner';
@import './components/about';
@import './components/features';
@import './components/packages';
@import './components/testimonial';
@import './components/gallery';
@import './components/contact';
@import './components/footer';
#map-area {
  height: 450px;
}
