.gallery {
  background-color: #fff;
  .gallery-nav {
    text-align: right;
    font-size: 1.6rem;
    position: relative;
    color: #f0a500;
    &:before {
      content: '/';
      font-size: 1.2rem;
      line-height: 1.8;
      position: absolute;
      top: 0;
      right: 30px;
      color: #777;
    }
    i {
      cursor: pointer;
    }
  }
}
.image__gallery {
  padding: 2rem 0;
  margin: 0 -1rem;

  .gallery-img {
    padding: 0 1rem;
    display: flex;
    align-items: flex-end;
    &:focus {
      outline: none;
    }
    img {
      border-radius: 1rem;
    }
  }
}
